<html>
<body>
    <p>Dzień dobry,</p>
    <p>Dziękujemy za złożenie zamówienia w naszej Pizzerii Mikieta. Mogą Państwo obserować status zamówienia klikając w poniższy link:</p>
    <a href="http://google.pl">Status zamówienia</a>
    <p>Tutaj znajdą Państwo szczegóły zamówienia:</p>
    <ul>
        <li>Data zamówienia: [DATE]</li>
        <li>Godzina zamówienia: [TIME]</li>
        <li>Sposób realizacji: Odbiór własny</li>
        <li>Sposób płatności: Przelew (zapłacono)</li>
        <li>
            Produkty:
            <ul>
                <li style="margin-top: 0.5rem">
                    <div>
                        <p style="padding: 0; margin: 0">Margherita: 44 zł</p>
                    </div>
                    <ul>
                        <li>ser, cebula, cukinia, musztarda</li>
                    </ul>
                </li>
                <li style="margin-top: 0.5rem">
                    <div>
                        <p style="padding: 0; margin: 0">Margherita x2: 44 zł</p>
                    </div>
                    <ul>
                        <li>ser, cebula, cukinia, musztarda</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li style="margin-top: 0.5rem">Koszt dostawy: 4 zł</li>
        <li style="list-style-type: none; margin-top: 1rem">
            <div>
                <p style="padding: 0; margin: 0; font-weight: bold">Koszt całkowity: 44 zł</p>
            </div>
        </li>
    </ul>
    <p>Z wyrazami szacunku,<br>Zespół Pizzerii Mikieta</p>
    <hr>
    <p>Pizzeria Mikieta<br>
    Adres: ul.Jakas 2a/3<br>
    Tel.: +32 100 000 000<br>
    <a href="https://www.pizzeriamikieta.pl">www.pizzeriamikieta.pl</a></p>
</body>
</html>
