<html>
<body>
    <p>Dzień dobry,</p>
    <p>Dziękujemy za złożenie zamówienia w naszej Pizzerii Mikieta. Mogą Państwo obserować status zamówienia klikając w poniższy link:</p>
    <a href="[LINK]" target="_blank">Status zamówienia</a>
    <p>Tutaj znajdą Państwo szczegóły zamówienia:</p>
    <ul>
        <li>Data zamówienia: [DATE]</li>
        <li>Godzina zamówienia: [TIME]</li>
        <li>Sposób realizacji: [DELIVERY_METHOD]</li>
        <li>Sposób płatności: [PAYMENT_METHOD]</li>
        <li>
            Produkty:
            <ul>
                [PRODUCT_FRAGMENT]
            </ul>
        </li>
        [DELIVERY_COST_FRAGMENT]
        <li style="list-style-type: none; margin-top: 1rem">
            <div>
                <p style="padding: 0; margin: 0; font-weight: bold">Koszt całkowity: [TOTAL_PRICE] zł</p>
            </div>
        </li>
    </ul>
    <p>Z wyrazami szacunku,<br>Zespół Pizzerii Mikieta</p>
    [RECIPIENT_FRAGMENT]
</body>
</html>
